# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Archivos de distribución / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Entornos virtuales
venv/
ENV/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints

# Archivos de configuración de IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Directorio de datos (mantener estructura pero ignorar contenido)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep 